{% extends 'model_mgmt/layout.html' %}

{% block content %}
    <div class="container">
        <p>We present a sociohydrological model that can help us to better understand the system dynamics of a smallholder farmer. It couples the dynamics of the six main assets of a typical smallholder farmer: water storage capacity, capital, livestock, soil fertility, grazing access, and labor. The hydroclimatic variability, which is a main driver and source of uncertainty of the smallholder system, is accounted for at subannual scale. The model incorporates rule-based adaptation mechanisms of smallholders (for example, adjusting expenditures on food and fertilizers and selling livestocks) when farmers face adverse sociohydrological conditions, such as low annual rainfall, occurrence of dry spells, or variability of input or commodity prices.</p>
    </div>
{% endblock %}